<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ahanafi.id.myfavoritemovieapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.ahanafi.id.myfavoritemovieapp.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.ahanafi.id.myfavoritemovieapp.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <receiver
            android:name=".notifications.DailyReleaseNotification"
            android:enabled="true"
            android:exported="true"></receiver>
        <receiver
            android:name=".notifications.DailyReminderNotification"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".notifications.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver android:name=".widget.MyFavoriteWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_favorite_widget_info" />
        </receiver>

        <activity
            android:name=".activities.ResultSearchActivity"
            android:parentActivityName=".activities.MainActivity" />

        <provider
            android:name=".providers.FavoriteProvider"
            android:authorities="com.ahanafi.id.myfavoritemovieapp"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.ahanafi.id.myfavoritemovieapp.READ_DATABASE"
            android:writePermission="com.ahanafi.id.myfavoritemovieapp.WRITE_DATABASE" />

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.FavoriteActivity"
            android:label="@string/title_activity_favorite"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/MyAppTheme.NoActionBar" />
        <activity
            android:name=".details.DetailMovieActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".details.DetailTvShowActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MyAppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".widget.FavoriteWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name=".notifications.DailyReleaseNotification"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".notifications.DailyReminderNotification"
            android:enabled="true"
            android:exported="true"
            />
    </application>

</manifest>